<div class="create-page">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Create User</li>
    </ol>
  </nav>
  <div class="page-content">
    <div class="row">
      <div class="col col-md-4">
        <img class="img-avatar" src="{{avatarLink}}">
        <button mat-stroked-button class="change-img-button" color="primary" (click)="openDialog()">Change Image</button>
      </div>

      <div class="col col-md-8">

        <form class="create-form" [formGroup]="userCreateForm" novalidate (ngSubmit)="onSubmit(userCreateForm.value)">

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="Ім'я" class="form-control" formControlName="name">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.name">
              <mat-error *ngIf="userCreateForm.get('name').hasError(validation.type) && (userCreateForm.get('name').dirty || userCreateForm.get('name').touched)">{{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="Призвіще" class="form-control" formControlName="surname">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.surname">
              <mat-error *ngIf="userCreateForm.get('surname').hasError(validation.type) && (userCreateForm.get('surname').dirty || userCreateForm.get('surname').touched)">{{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="Email" class="form-control" formControlName="email">
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <input matInput placeholder="Password" class="form-control" [type]="hide ? 'password' : 'text'" formControlName="password" required>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-hint *ngIf="!passwordInput">Введіть пароль</mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="Телефон" class="form-control" formControlName="phone">
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput type="number" min="0" max="100" placeholder="Вік" class="form-control" formControlName="age">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.age">
              <mat-error *ngIf="userCreateForm.get('age').hasError(validation.type) && (userCreateForm.get('age').dirty || userCreateForm.get('age').touched)">{{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="row submit-button-container">
            <div class="col-md-4">
              <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!userCreateForm.valid">Create</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
