

<app-main-map></app-main-map>
<footer>
  <div class="footcontainer">
    <ul class="social">
      <li><h1><i>Ви можете найти мене тут:</i></h1></li>
      <li><a href = "https://www.facebook.com/profile.php?id=100004774743893"><img src="https://img.icons8.com/nolan/64/facebook-circled.png" alt="facebook_not_found"></a></li>
      <li><a href = "https://www.instagram.com/kurabombei_official/?hl=uk"><img src="https://img.icons8.com/dusk/64/000000/instagram.png" alt="instagram_not_found"></a></li>
      <li><a href = "https://steamcommunity.com/id/kuratrade"><img src="https://img.icons8.com/nolan/64/steam.png" alt="steam_not_found"></a></li>
      <div>
        <a routerLink="admin">Admin</a>
      </div>
      <li>
        <span style="align-content: end">© 2020 Sellioneer, Volos Ivan. All rights reserved.</span>
      </li>
    </ul>
  </div>
</footer>
