<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="home">Головна</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">

      <li *ngIf="afAuth.user$ | async ">
        <a routerLink="admin-users">Користувачі</a>
      </li>
      <li *ngIf="afAuth.user$ | async ">
        <a routerLink="admin-goods">Товари</a>
      </li>
      <li *ngIf="afAuth.user$ | async as cur_user">
        <a routerLink="user-cabinet">Мій профіль</a>
        <button mat-raised-button class color="secondary" (click)="afAuth.signOut()">Вийти</button>
      </li>
      <li *ngIf="!this.afAuth.isLoggedIn">
        <a routerLink="new-user">Sign-up</a>
      </li>
      <li *ngIf="!this.afAuth.isLoggedIn">
        <a routerLink="login">Login</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
